/* Footer Section */


.footer{
    background-color: #b9669b;
}

.it{

}

.nameServices{font-family: 'Nunito', sans-serif;color: white;}

.it > a{
    text-decoration: none;
}

.it > a > p{
    color: white;
    font-family: monospace;
    font-size: 16px;
}


.otherLinks{

}

.buffer{
    margin-top: 68px;
}



.aboutAs{

}

.aboutAs > h2{

}

.aboutAs > a{

}

.aboutAs > a > p{

}

.firstCol{margin-bottom: 26px;}

.firstCol > a{
    text-decoration: none;

}

.secondCol{}

.secondCol > a{
    text-decoration: none;
}

@media screen and (max-width:1024px){
    .secondCol{margin-bottom: 26px;}
}

.lvl2{height: 46px;}

.lvl2 > img{height: 40px;width: auto;position: relative;top: -14px;}

.lvl2 > p{color: white;font-family: 'Nunito', sans-serif;font-size: 20px;line-height: 23px;}

@media (min-width:991px) and (max-width:1460px){
    .lvl2 > p{font-size: 18px;}
}

.inlineBlock{
    display: inline-block;
}

#liveChat{}

#liveChat > a{

}

#liveChatRef{
    height: 66px;
    width: 228px;
    background-color: #7e206c;
    float: right;
    margin-bottom: 21px;
    margin-right: 6px;
}

#liveChatRef > h2{display: inline-block;color: white;font-family: 'Nunito', sans-serif;margin: 0px;position: relative;top: 16px;}

#liveChatRef > img{height: 32px;width: auto;display: inline-block;position: relative;top: 11px;margin-left: 20px;margin-right: 18px;}

.footerCont{padding: 0px;}

#last{background-color: #7e206c;height: 52px;}

#copuringP > p{
    color: white;
    margin-top: 16px;
    font-size: 1.1em;
}
@media screen and (max-width:510px) {
    #copuringP > p{
        color: white;
        margin-top: 4px;
        font-size: 1.1em;
    }
}

@media screen and (max-width:991px ){
    #last{margin-left: 15px;}
}

@media screen and (max-width:768px ){
    .lvl2 > p{margin-left: 20px;}

    .buffer{margin-top: 30px;}

    #last{
        
    }

}

@media screen and (max-width:460px ){

}